.bg{
	background-image: url("http://i.imgur.com/IrgAVF3.gif");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

body, html{
	height: 100%;
	margin: 0;
}