@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Thasadith");

.bg{
	background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url(http://i.imgur.com/IrgAVF3.gif);
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	display: flex;
	align-items: center;
	justify-content: center;
}



.typing-div h1{
	font-family: 'Fjalla One', monospace;
	font-size: 50px;
	overflow: hidden;
	border-right: .15em solid white;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	color: white;
	animation:
		typing 3.5s steps(30,end),
		cursor .5s step-end infinite;*/
}

@keyframes typing{
	from {width: 0}
	to {width: 100%}
}

@keyframes cursor{
	from, to {border-color: transparent }
	50% { border-color: white}
}

html{
	scroll-behavior: smooth;
}

body, html{
	height: 100%;
	margin: 0;
}

button{
	/*background-color: rgb(119, 99, 255);*/
	background-color: rgb(115, 153, 0);

	border: 2px solid transparent;
	color: white;
	width: 10em;
	padding: 8px 26px;
	text-align: center;
	text-decoration: none;
  	font-size: 14px;
  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
  	cursor: pointer;
  	margin-top: 1%;
  	margin-left: 35%;

}

button:hover{
	background-color: white;
	color: black;
	border: 2px solid rgb(115, 153, 0);
}

.about-me{
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}

.img-wrapper{
	margin-left: 43%;
	position: relative;
}

.par-wrapper{
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 25px;
}

img{
	border-radius: 50%;
}













